/* Ẩn thanh cuộn ngang */
.container::-webkit-scrollbar {
    display: none;
}

/* Ẩn thanh cuộn dọc */
.container {
    -ms-overflow-style: none;
    /* Cho trình duyệt Internet Explorer */
    scrollbar-width: none;
    /* Cho trình duyệt Firefox */
}

.snap-y {
    scroll-snap-type: y mandatory;
}

.snap-start {
    scroll-snap-align: start;
}

.snap-always {
    scroll-snap-stop: always;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari và Edge */
}

/* Giới hạn tiêu đề ở 2 dòng */
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Khi tiêu đề mở rộng, hiển thị đầy đủ */
.line-clamp-none {
    display: block;
    overflow: visible;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 2;  /* Giới hạn số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden; /* Ẩn phần văn bản vượt quá */
    text-overflow: ellipsis; /* Thêm dấu "..." ở cuối nếu bị cắt */
}

.text-blue-500 {
    color: #3b82f6;
}

.cursor-pointer {
    cursor: pointer;
}

.transition-all {
    transition: all 0.3s ease;
}

